<br />
<div class="container">
  <div class="row row-cols-1 row-cols-sm-4 g-4">
    <ng-container *ngFor="let product of products; let productId = index">
      <div class="col">
        <a routerLink="{{ productId }}">
          <div class="card h-100">
            <!-- <h2>product No.:{{ product. }}</h2> -->
            <img
              class="card-img-top"
              src="{{product.coverImage}}"
              alt="Card image cap"
            />
            <div class="card-body">
              <h3 class="card-title">{{ product.name }}</h3>
              <p class="card-text">
                {{ product.description }}
              </p>
              <p>{{ product.price }}</p>
            </div>
          </div>
        </a>
      </div>
    </ng-container>
  </div>
</div>
